<style>
    [id^="category-"] {
        display: none;
    }

    [id^="category-"] + label {
        cursor: pointer;
        padding: 5px;
        display: block;
    }

    [id^="category-"]:checked + label {
        color: white;
        background: rgb(68, 77, 88);
    }

    button.form-control {
        width: auto;
    }
</style>
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#">Home</a><i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/#/freelance.html">Услуги</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Заказ
    </li>
</ul>


<div class="row">
    <div class="col-md-12">

        <div class="todo-ui" style="margin-top:0 !important">

            <div class="todo-sidebar" style="float: right;margin-left: 20px;">
                <div class="portlet light">

                    <p style="text-align: center;padding-top: 30px;">В корзине 2 товара<br/> на сумму
                        <br/>
                        <span style="font-size: 34px;font-weight: bold;">70$</span>
                    </p>
                    <a href="https://www.liqpay.com/ru/doc">
                        <button type="button" class="btn green-meadow btn-block" style="margin-top: 20px;margin-bottom: 30px;">Оплатить
                        </button>
                    </a>
                    <hr/>
                    <p style="text-align: center;font-size: 13px;">

                        <strong style="font-size: 20px;">Есть вопросы?</strong><br/><br/>

                        Если у Вас появлся вопрос по поводу покупки и оплаты, Вы можете задать его в нашей
                        <a href="">службе технической поддержи</a>

                    </p>
                </div>
            </div>


            <div class="todo-content">
                <div class="portlet light row">

                    <br/>

                    <article class="col-sm-12" style="overflow: hidden;">
                        <div class="col-sm-2">
                            <img style="width:100%;border-radius: 6px;" src="/images/avatar-empty.png"/>
                        </div>

                        <div class="col-sm-8">
                            <a href="#/product/{{product.id}}">
                                <h4 style="color: #444D58;margin-top: 3px;" class="bold">B&B - Law & Attorney HTML5 Template</h4>
                            </a>

                            Разработчик:
                            <a href="#/product/{{product.id}}">acousticdev</a>
                            <br/><br/>
                            <span style="color: #9F9F9F;">Шаблоны HTML</span>
                        </div>

                        <div class="col-sm-2" style="position: relative;">
                            <span style="cursor:pointer; position: absolute;top: -10px;right: 14px;font-size: 30px;color: #C0C0C0;">×</span>

                            <p style="font-size: 30px;font-weight: bold;padding-top: 57px;text-align: right;margin: 0;">
                                35$</p>
                        </div>
                        <hr class="col-sm-12"/>
                    </article>


                    <article class="col-sm-12" style="overflow: hidden;">
                        <div class="col-sm-2">
                            <img style="width:100%;border-radius: 6px;" src="/images/avatar-empty.png"/>
                        </div>

                        <div class="col-sm-8">
                            <a href="#/product/{{product.id}}">
                                <h4 style="color: #444D58;margin-top: 3px;" class="bold">B&B - Law & Attorney HTML5 Template</h4>
                            </a>

                            Разработчик:
                            <a href="#/product/{{product.id}}">acousticdev</a>
                            <br/><br/>
                            <span style="color: #9F9F9F;">Шаблоны HTML</span>
                        </div>

                        <div class="col-sm-2" style="position: relative;">
                            <span style="cursor:pointer; position: absolute;top: -10px;right: 14px;font-size: 30px;color: #C0C0C0;">×</span>

                            <p style="font-size: 30px;font-weight: bold;padding-top: 57px;text-align: right;margin: 0;">
                                35$</p>
                        </div>
                        <hr class="col-sm-12"/>
                    </article>


                </div>
            </div>


        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
